{
    "selected_prefecture": "10",
    "selected_municipality": "ΓΛΥΦΑΔΑΣ",
    "pushover_api_token": "your_pushover_api_token",
    "pushover_user_key": "your_pushover_user_key",
    "prefectures": {
        "ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ": "67",
        "ΑΡΓΟΛΙΔΑΣ": "7",
        "ΑΡΚΑΔΙΑΣ": "8",
        "ΑΡΤΑΣ": "9",
        "ΑΤΤΙΚΗΣ": "10",
        "ΑΧΑΙΑΣ": "11",
        "ΒΟΙΩΤΙΑΣ": "12",
        "ΒΟΡΕΙΟΥ ΑΙΓΑΙΟΥ": "1106",
        "ΓΡΕΒΕΝΩΝ": "13",
        "ΔΡΑΜΑΣ": "14",
        "ΔΩΔΕΚΑΝΗΣΟΥ": "15",
        "ΕΒΡΟΥ": "6",
        "ΕΥΒΟΙΑΣ": "16",
        "ΕΥΡΥΤΑΝΙΑΣ": "1111",
        "ΕΥΡΥΤΑΝΙΑΣ": "17",
        "ΖΑΚΥΝΘΟΥ": "18",
        "ΗΛΕΙΑΣ": "19",
        "ΗΜΑΘΙΑΣ": "20",
        "ΗΡΑΚΛΕΙΟΥ": "21",
        "ΘΕΣΠΡΩΤΙΑ": "96",
        "ΘΕΣΣΑΛΟΝΙΚΗΣ": "23",
        "ΙΩΑΝΝΙΝΩΝ": "24",
        "ΚΑΒΑΛΑΣ": "25",
        "ΚΑΡΔΙΤΣΑΣ": "26",
        "ΚΑΣΤΟΡΙΑΣ": "27",
        "ΚΕΡΚΥΡΑΣ": "28",
        "ΚΕΦΑΛΛΟΝΙΑΣ": "29",
        "ΚΙΛΚΙΣ": "30",
        "ΚΟΖΑΝΗΣ": "31",
        "ΚΟΡΙΝΘΙΑΣ": "62",
        "ΚΥΚΛΑΔΩΝ": "33",
        "ΛΑΚΩΝΙΑΣ": "34",
        "ΛΑΡΙΣΑΣ": "35",
        "ΛΑΣΙΘΙΟΥ": "36",
        "ΛΕΣΒΟΥ": "37",
        "ΛΕΥΚΑΔΑΣ": "38",
        "ΜΑΓΝΗΣΙΑΣ": "39",
        "ΜΕΣΣΗΝΙΑΣ": "40",
        "ΞΑΝΘΗΣ": "41",
        "ΠΕΛΛΗΣ": "43",
        "ΠΙΕΡΙΑΣ": "44",
        "ΠΡΕΒΕΖΗΣ": "45",
        "ΡΕΘΥΜΝΟΥ": "46",
        "ΡΟΔΟΠΗΣ": "47",
        "ΣΑΜΟΥ": "48",
        "ΣΕΡΡΩΝ": "49",
        "ΤΡΙΚΑΛΩΝ": "50",
        "ΦΘΙΩΤΙΔΑΣ": "51",
        "ΦΛΩΡΙΝΑΣ": "52",
        "ΦΩΚΙΔΑΣ": "53",
        "ΧΑΛΚΙΔΙΚΗΣ": "54",
        "ΧΑΝΙΩΝ": "55",
        "ΧΙΟΥ": "56"
    }
}